<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.awesomehabit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- chi cho sdk 29 tro len -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".test_sync_data">
        </activity>

        <activity android:name=".LoginActivity" android:noHistory="true">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".MainActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".running.RunningTracking"
            android:noHistory="true" />
        <activity android:name=".SignupActivity" android:noHistory="true"/>
        <service android:name=".running.RunningService" /> <!-- android:stopWithTask="true" -->
        <activity android:name=".sleeping.SleepTracker" />
        <activity android:name=".meal.MealActivity" />
        <activity android:name=".AddHabitActivity"/>
        <activity android:name=".statistic.StatisticActivity" />
        <activity android:name=".statistic.WeekSummaryActivity" />
        <activity android:name=".meal.MealConfirmActivity"/>
    </application>

</manifest>
